<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Refusjon arbeidsgiver"/>
    <meta name="author" content="pengeflyt-pdfgen"/>
    <meta name="subject" content="Refusjon arbeidsgiver"/>
    {{#block 'oppgjorsrapporter/style' }}
    {{/block}}
    <title>Refusjon oppgjorstapport</title>
</head>
<body class="body">
<header class="page-header">
    <img class="nav-logo" src="{{ image "nav-logo.svg" }}" alt="NAV logo"/>
    <h3>Oppgjørsrapport (K27)</h3>
    <h4>Oversikt over utbetaling av refusjoner og feriepenger fra Nav til arbeidsgiver</h4>
    <div>
        <table class="table1">
            <tr>
                <td>Navn:</td>
                <td></td>
                <td class="sec_col">{{bedrift.navn}}</td>
                <td>Utbetalingsdato:</td>
                <td></td>
                <td>{{utbetalingsDato}}</td>
            </tr>
            <tr>
                <td>Adresse:</td>
                <td></td>
                <td>{{bedrift.adresse}}</td>
                <td>Rapport sendt:</td>
                <td></td>
                <td>{{rapportSendt}}</td>
            </tr>
            <tr>
                <td>Organisasjonsnr:</td>
                <td></td>
                <td>{{bedrift.organisajonsnummer}}</td>
                <td>Konntonummer:</td>
                <td></td>
                <td>{{bedrift.kontonummer}}</td>
            </tr>
        </table>
    </div>
</header>
<main class="content">
    <div>
        <table class="sumtable">
            <tr>
                <td width="25%"></td>
                <td class="sec_col">Totalt til utbetalingtil org.nr. {{bedrift.organisajonsnummer}},
                    kontonr {{bedrift.kontonummer}}</td>
                <td align="right">{{totalsum}}</td>
            </tr>
        </table>
        {{#each ytelser}}
            <div class="ytelse-block">
                <h4>{{ytelse}} (ytelse)</h4>
                <table class="ytelse-table">
                    <tr>
                        <th>Underenhet</th>
                        <th>FNR</th>
                        <th>Navn</th>
                        <th>Periode</th>
                        <th>Maksdato</th>
                        <th>Beløp</th>
                    </tr>
                    {{#each utbetalinger}}
                        <tr>
                            <td>{{underenhet}}</td>
                            <td>{{fnr}}</td>
                            <td>{{navn}}</td>
                            <td>{{periodeFra}} - {{periodeTil}}</td>
                            <td>{{maksDato}}</td>
                            <td align="right">{{belop}}</td>
                        </tr>
                    {{/each}}
                    <tr class="sum-row">
                        <td colspan="2"></td>
                        <td>Sum {{ytelse}}</td>
                        <td colspan="2"></td>
                        <td align="right">{{totalbelop}}</td>
                    </tr>
                </table>
            </div>
        {{/each}}
    </div>
</main>
<div id="footer">
    <span>Oppgjørsrapport (K27) {{ bedrift.organisajonsnummer }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>

</body>
</html>