<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Refusjon arbeidsgiver"/>
    <meta name="author" content="pengeflyt-pdfgen"/>
    <meta name="subject" content="Refusjon arbeidsgiver"/>
    {{#block 'oppgjorsrapporter/refusjon-arbeidsgiver-style' }}
    {{/block}}
    <title>Oppgjørsrapport arbeidsgiver - refusjoner fra Nav</title>
</head>
<body class="body">
<header class="page-header">
    <img class="nav-logo" src="{{ image "nav-logo.svg" }}" alt="NAV logo"/>
    <div>
        <table class="table1">
            <tr>
                <td class="header-column1"></td>
                <td></td>
                <td class="header-column2"></td>
                <td>Utbetalingsdato:</td>
                <td></td>
                <td>{{utbetalingsDato}}</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>Kontonummer:</td>
                <td></td>
                <td>{{bedrift.kontonummer.formattert}}</td>
            </tr>
        </table>
    </div>
</header>
<div id="footer">
    <span>Oppgjørsrapport arbeidsgiver - refusjoner fra Nav {{ bedrift.orgnr.formattert }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>

<main class="content">
    <img class="nav-logo" src="{{ image "nav-logo.svg" }}" alt="NAV logo"/>
    <h3>Oppgjørsrapport arbeidsgiver – refusjoner fra Nav</h3>
    <div>
        <table>
            <tr>
                <td>Navn:</td>
                <td></td>
                <td class="header-column2">{{bedrift.navn}}</td>
                <td>Utbetalingsdato:</td>
                <td></td>
                <td>{{utbetalingsDato}}</td>
            </tr>
            <tr>
                <td>Adresse:</td>
                <td></td>
                <td>{{bedrift.adresse}}</td>
                <td>Rapport sendt:</td>
                <td></td>
                <td>{{rapportSendt}}</td>
            </tr>
            <tr>
                <td>Organisasjonsnr:</td>
                <td></td>
                <td>{{bedrift.orgnr.formattert}}</td>
                <td>Kontonummer:</td>
                <td></td>
                <td>{{bedrift.kontonummer.formattert}}</td>
            </tr>
        </table>
    </div>
    <div>
        <table class="sumtable">
            <tr>
                <td width="25%"></td>
                <td class="header-column2">Totalt til utbetaling til org.nr. {{bedrift.orgnr.formattert}},
                    kontonr {{bedrift.kontonummer.formattert}}</td>
                <td class="belop-column">{{totalsum.formattert}}</td>
            </tr>
        </table>
        {{#each ytelser}}
            <div class="ytelse-block">
                <h4>{{ytelse}} (ytelse)</h4>
                <table class="ytelse-table">
                    <tr>
                        <th>Underenhet</th>
                        <th>FNR</th>
                        <th>Navn</th>
                        <th>Periode</th>
                        <th>Maksdato</th>
                        <th class="belop-column">Beløp</th>
                    </tr>
                    {{#each posteringer}}
                        <tr>
                            <td>{{orgnr.formattert}}</td>
                            <td>{{fnr.formattert}}</td>
                            <td>{{navn}}</td>
                            <td>{{periodeFra}} - {{periodeTil}}</td>
                            <td>{{maksDato}}</td>
                            <td class="belop-column">{{belop.formattert}}</td>
                        </tr>
                    {{/each}}
                    <tr class="sum-row">
                        <td colspan="2"></td>
                        <td>Sum {{ytelse}}</td>
                        <td colspan="2"></td>
                        <td class="belop-column">{{totalbelop.formattert}}</td>
                    </tr>
                </table>
            </div>
        {{/each}}
        <table class="sumtable">
            <tr>
                <td width="25%"></td>
                <td class="header-column2">Totalt til utbetaling til org.nr. {{bedrift.orgnr.formattert}},
                    kontonr {{bedrift.kontonummer.formattert}}</td>
                <td class="belop-column">{{totalsum.formattert}}</td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>
